{{ partial "header.html" .}}
<main>
    {{ range .Data.Pages }}
        <article>
            <a class="detailed-albumview-toggle" href="#"><img src="{{ .Params.albumartworkuri }}"></a>
            <h2>{{ .Title }}</h2>
            <span>{{ .Params.artist }}</span>
            <nav class="stores-nav">
                <ul>
                <li><a class="stores-nav__menuItem stores-nav__menuItem--itunes" target="_blank" href="{{ .Params.itunesuri }}">iTunes</a></li>
                <li><a class="stores-nav__menuItem stores-nav__menuItem--google" target="_blank" href="{{ .Params.googleplayuri }}">Google Play Music</a></li>
                <li><a class="stores-nav__menuItem stores-nav__menuItem--spotify" target="_blank" href="{{ .Params.spotifyuri }}">Spotify</a></li>
                <li><a class="stores-nav__menuItem stores-nav__menuItem--amazon" target="_blank" href="{{ .Params.amazonuri }}">Amazon Music</a></li>
            </ul>
            </nav>
            <div class="detailed-albumview">
                <div class="wrap">
                    <div class="detailed-albumview__buttons">
                        <a class="close" href="#"><svg width="16" xmlns='http://www.w3.org/2000/svg' viewBox='0 0 75 75'><title>close</title><path d='M87.5,97.6L85.1,100,50,64.9,14.9,100l-2.4-2.4L47.6,62.5,12.5,27.4,14.9,25,50,60.1,85.1,25l2.4,2.4L52.4,62.5Z' transform='translate(-12.5 -25)'/></svg>Close</a>
                        {{ $shareTitle := .Title }}
                        {{ $shareUrl := .Permalink }}
                        {{ range .Site.Menus.sharing }}
                            {{ $temp := replace .URL "shareurl" $shareUrl }} 
                            <a target="_blank" href='{{ replace $temp "title" $shareTitle }}' title="{{ .Name }}">{{ readFile .Pre | safeHTML }}{{ .Name }}</a>
                        {{ end }} 
                    </div>
                    <div class="detailed-albumview__artwork"><img src="{{ .Params.albumartworkuri }}"></div>
                    <div class="detailed-albumview__copy">{{ .Content }}</div>
                </div>
            </div>
        </article>
    {{ end }}
</main>
<script>
document.addEventListener("DOMContentLoaded", function() {
  document.querySelectorAll(".detailed-albumview-toggle").forEach(function(item){
    item.addEventListener("click", function(event) {
        event.preventDefault();
        this.parentNode.querySelector(".detailed-albumview").classList.toggle("detailed-albumview--open");
    });
    item.parentNode.querySelector(".detailed-albumview .close").addEventListener("click", function(event){
        event.preventDefault();
        item.parentNode.querySelector(".detailed-albumview").classList.toggle("detailed-albumview--open");
    });
  })
});
</script>
{{ partial "footer.html" .}}